<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gethit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{404,598}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{404,598}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
            <key>gethit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,598}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{404,598}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
            <key>idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{396,586}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{396,586}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,400},{396,578}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{396,578}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_libai_Frames.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26e2b873a4299704a631b314cb800d3d:1/1$</string>
            <key>textureFileName</key>
            <string>BOSS_libai_Frames.png</string>
        </dict>
    </dict>
</plist>
